body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(#ad863b, #1b0f25); */
  background-color: #1b0f25;
  padding-bottom: 100px;
}
h1,
h2,
p {
  color: #ad863b;
}

/* ============== CSS untuk background cover dan animasi wave bergerak ============== */
.jumbotron {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../cover.jpg);
  background-size: cover;
}

.tembus {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: double;
  border-radius: 15px;
  border-color: #ad863b;
  top: 31%;
  background-color: rgba(27, 15, 37, 0.96);
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.text_cover {
  margin-top: 55px;
  font-family: Arial;
  text-align: center;
  vertical-align: middle;
}
h1 {
  color: #ad863b;
}
h2 {
  color: #ad863b;
}
h3 {
  color: #ad863b;
}

.jumbotron .wave {
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(wave.png);
  animation: animate 10s linear infinite;
}

.jumbotron .wave:before {
  content: "";
  width: 100%;
  height: 143px;
  background: url(wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reserve 10s linear infinite;
}

.jumbotron .wave:after {
  content: "";
  width: 100%;
  height: 143px;
  background: url(wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  animataion-delay: -5s;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes animate-reserve {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

/* ===============================  CSS Untuk Isi  =================================== */

#pasangan {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-radius: 15px;
  border-color: #ad863b;
  background-image: url(../cover.jpg);
  width: 80%;
  height: 250px;
}

.text_pasangan {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
}

.tembus_pasangan {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 15px;
  top: 22px;
  background-color: rgba(27, 15, 37, 0.96);
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.savethedate {
  margin-top: 5rem;
}
